<mat-toolbar id="navbar">
    <mat-toolbar-row>
        <a href="/"><span>Geo-Sauron</span></a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="test()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar id="navbar" class="navMenu">
    <mat-toolbar-row>
        <a href="/signup"><span>Newsletter Signup</span></a>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false"
            aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>

</mat-toolbar>